html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: メイリオ,'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body{
	 font-family: メイリオ,'Hiragino Kaku Gothic ProN W3', sans-serif;
  	 background-color: #C3C3C3; 
}

.container{
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

.h-title{
	height: 100px;
	border-top: 5px solid blue;
	position: relative;
}
.h-title .h-logo{
	width: 300px;
	position: absolute;
	top: 50%;
	left: 4%;
	transform: translateY(-50%);
}

.h-nav{
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}
.h-menu{
	letter-spacing: -.4em;
}
.h-list{
	display: inline-block;
	width: calc(100%/6);
	position: relative;
	letter-spacing: normal;
	height:64px;
	border-right: 1px solid #d2d2d2;
	box-sizing: border-box;	
	vertical-align: bottom;
}
.h-l-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center ;
	width: 90%;
}
.h-l-top{
	font-size:15px;
	color: #666666;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
}
.h-l-bottom{
	font-size: 10px;
	color: #bababa;
	text-align: center;
}
.h-list .h-l-top:hover{
	color:  #0F3BDE;
}
.h-list:hover{
	background-color: #e6ebfa; 
}
.h-list:hover .h-l-box:before{
	content: "";
	width: 3px;
	position: absolute;
	height: 100%;
	left: 4px;
	background-color: #0F3BDE; 
}

.active{
	background-color:  #e6ebfa;
}
.active .h-l-box:before{
	content: "";
	width: 3px;
	position: absolute;
	height: 100%;
	left:4px;
	background-color:   #0F3BDE; 
}
.active .h-l-top:hover{
	color:  #0F3BDE;
}

.main{
	margin: 35px;
	width: 65%;
	display: inline-block;
}
.m-h2{
	font-size:18px;
	color: #fff;
	padding:10px 20px;
}
.m-h2-box{
	background-color: #0F3BDE; 
	border-radius: 6px;
	}
.m-h2-box-2{
	background-color: #F7F7F7; 
	border-radius: 6px;
	margin-top: 20px;
	border: 1px solid #CCCCCC;
}
.m-h2-2{
	font-size:18px;
	color: #666666;
	padding:15px 25px;
}
.m-h2-red{
	font-size:18px;
	color: red;
	padding:15px 25px;
}
.h-border{
	border-left: 3px solid	#0F3BDE;
	padding-left:20px;
	line-height: 1.5;
}

.m-table{
	margin: 20px 0;
}


tr th ,tr td {
	border:1px solid #ccc;
	font-size: 16px;
	padding:18px;
	color: #666
}

tr th{
	width: 25%;
	text-align: center;
}
tr td{
	text-align: left;

border-bottom:1px solid #666;}

tr a{
	color: #666666;
	line-height: 0.9;
	border-bottom: 1px solid #666;
	display: inline-block;
}

tr a:hover{
	color: #0F3BDE; 
	border-bottom: none;
}

.m-p-box{
	margin:10px 20px;
}
.m-p{
	line-height: 2;
	color: #666;
	font-size: 15px;	
}
.m-p .bold{
	font-weight: bold;
	color: red;
}
.m-p .gray{
	background-color: #CCCCCC;
	padding: 5px;
	border-radius: 6px;
}
.m-p .red{
	color: red;
}

.a-tag{
	color: #666;
	border-bottom: 1px solid #666;
	line-height: 0.8;
	display: inline-block;
}
.a-tag:hover{
	color: blue;
	border-bottom: none;
}
.side{
	float:right;
	width: 25%;
}
.s-framebox{
	padding:10px;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	margin-bottom: 24px;
	color: #666666;
	margin-right: 20px;
	margin-top: 30px;
}
.s-box{
	margin-bottom: 24px;
	color: #666666;
	margin-right: 20px;
	margin-top: 30px
}
.s-h4{
	padding:20px 10px;
	border-top: 5px solid blue;
	background-color: #f4f4f4;
	border-bottom:1px solid #d2d2d2;
}
.s-list{
	border-bottom: 1px solid #d2d2d2;
	padding: 15px;
	overflow: hidden;
}
.s-list a{
	color: #666;
}
.s-list:hover a{
	color: blue;
}
.s-list:hover{
	background-color: #fff;
}
.s-img{
	float: left;
	width: 20%;
	margin-left: 5px;
}
.s-l-title{
	color: blue;
	font-size: 11px;
}

.s-l-description{
	font-size:11px;
}
.company-title{
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	padding: 10px 0;
}
.company-info{
	font-size: 11px;
	text-align: center;
	line-height: 1.5;
}

.footer{
	text-align:center;
	background-color: #0F3BDE;
	clear: both;
	color: #fff;
	font-size: 13px;
	padding:18px 0;
}
footer a{
	color:#fff;
}
footer span{
	font-size: 12px;
}
footer a:hover{
	transition: all 0.3s;
	color: #0F3BDE;
}