html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: メイリオ,'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body{
	 font-family: メイリオ,'Hiragino Kaku Gothic ProN W3', sans-serif;
  	 background-color: #C3C3C3; 
}
.container{
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}
.h-title{
	height: 100px;
	border-top: 5px solid blue;
	position: relative;
}
.h-title .h-logo{
	width: 300px;
	position: absolute;
	top: 50%;
	left: 4%;
	transform: translateY(-50%);
}
.h-nav{
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

.h-menu{
	letter-spacing: -.4em
}
.h-list{
	display: inline-block;
	width: calc(100%/6);
	position: relative;
	letter-spacing: normal;
	height:64px;
	border-right: 1px solid #d2d2d2;
	box-sizing: border-box;
	vertical-align: bottom;
}
.h-l-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 90%;
}
.h-l-top{
	font-size: 15px;
	color: #666;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4px;
}
.h-l-bottom{
	font-size: 10px;
	color: #bababa;
	text-align: center;
}
.h-list:hover{
	background-color:  #e6ebfa; 
}
.h-list .h-l-top:hover{
	color:  #0F3BDE;
}
.h-list:hover .h-l-box:before{
	content: "";
	width: 3px;
	position: absolute;
	height: 100%;
	left: 4px;
	background-color:  #0F3BDE; 
}
.active{
	background-color:  #e6ebfa;
}
.active .h-l-box:before{
	content: "";
	width: 3px;
	position: absolute;
	height: 100%;
	left:4px;
	background-color:   #0F3BDE; 
}
.active .h-l-top:hover{
	color:  #0F3BDE;}
	
.main{
	width: 65%;
	margin: 35px;
	display: inline-block;
}
.m-h2-box{
	background-color: blue;
	border-radius: 6px;
	opacity: 0.8;
}
.m-h2{
	color: #fff;
	font-size: 18px;
	padding:10px 20px; 
}
.m-h2-border{
	border-left: 3px solid #889EF1;
	padding-left:20px;
	line-height: 1.5;
}
.m-p-box{
	color: #666;
	margin-left: 15px;
	margin-top: 15px;
}
.m-p{
	line-height: 2;
	font-size: 15px;
}
.m-img-box{
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 24px;
	color: #666666;
	margin-right: 20px;
	margin-top: 30px
	background-color:#666;
}
.m-box{
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 24px;
	color: #666666;
	margin-right: 20px;
	margin-top: 30px
	background-color:#666;
}
.m-img {
	float: left;
	width: 35%;
	margin-right: 10px;
}
.m-list{
	padding: 15px;
	overflow: hidden;
	line-height: 2.0;
}
.m-list :hover{
	background-color: #fff;
}
.m-img-title{
	font-size: 18px;
	color: blue;
}
.m-img-discription:hover{
	color: blue;
}
.m-img-discription{
	font-size: 15px;
	color: #666;
}
.side{
	width: 25%;
	float: right;
	margin-top: 30px;
}
.s-framebox{
	border:1px solid  #ccc;
	padding: 10px;
	margin-right:30px;
	background-color: #f4f4f4;
	color: #666;
	margin-bottom: 20px;
}
.s-box{
	margin-right:20px;
	margin-top: 35px;
	color: #666;
	margin-bottom: 20px;
}
.s-h4{
	border:1px solid  #ccc;
	font-weight: bold;
	font-size: 16px;
	padding: 20px 10px;
	border-top: 5px solid blue;
	background-color: #f4f4f4;
}
.s-menu{
	color: #666;
	margin-left: 10px;
}
.s-list {
	border-bottom:1px solid  #ccc; 
	padding: 15px 0;
}
.s-list a{
	color: #666;
}
.s-img{
	width: 20%;
	float: left;
	margin-right: 10px;
}
.s-l-title{
	font-size: 12px;
	color: blue;
	padding-bottom: 3px;
}
.s-l-description{
	font-size: 12px;
}
.company-title{
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	padding: 10px 0;
}
.company-info{
	font-size: 11px;
	text-align: center;
	line-height: 1.5;
}



.footer{
	text-align:center;
	background-color: #0F3BDE;
	clear: both;
	color: #fff;
	font-size: 13px;
	padding:18px 0;}
footer a{
	color:#fff;
}
footer span{
	font-size: 12px;
}
footer a:hover{
	transition: all 0.3s;
	color: #0F3BDE;
}
